nav.nav
  h1.nav__title #{nav.title}
  button.nav__close(type="button", aria-label="Закрыть меню навигации")
  button.nav__open(type="button", aria-label="Открыть меню навигации")
    span.nav__hamburger
  include menu.pug
