section.swiper-container.videos
  .swiper-wrapper.videos__wrapper
    each video in videos
      .video.swiper-slide
        +picture("video__picture", video.alt, true, false, video.name, "jpg", auto, auto)
        h2.video__title #{video.title}
        a.button.button--watch(href=video.href) Смотреть
  .videos__pagination
