.button {
  box-sizing: border-box;
  max-width: 180px;
  padding: 16px 30px;
  color: $color-bg;

  font-weight: $font-weight-semibold;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $color-button-bg;
  border: 2px solid $color-primary;
  transition: 0.4s;
  &:hover {
    background-color: $color-primary;
    border-color: $color-primary ;
    & ~ .video-banner__title {
      color: $color-base;
    }
  }
  &--video-arrow {
    font-size: $font-sm;
    border: 1px solid $color-bg;
    &::after {

      display: inline-block;
      width: 16px;
      height: 16px;
      margin-top: -5px;
      margin-left: 10px;
      vertical-align: middle;
      background-image: url(../images/arrow-button.png);
      background-repeat: no-repeat;
      content: "";
    }
    @media #{$media-lg} {
      margin-top: auto;
      margin-bottom: 30px;
    }
  }
  &--watch {
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
  }
  &:focus-visible {
    outline: 3px solid rgba($color: $color-primary, $alpha: 0.8);
  }
}
