.main-content {
  @media #{$media-xl} {
    display: flex;
    box-sizing: border-box;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }
}

.main-content__left-aside {
  @media #{$media-xl} {
    max-width: 770px;
    margin-right: 45px;
  }
}

.main-content__right-aside {
  min-width: 288px;
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  @media #{$media-md} {
    max-width: 76%;
  }
  @media #{$media-xl} {
    min-width: 370px;
    max-width: initial;
    margin: initial;
    padding: initial;
  }
}
