.menu {
  display: none;
  flex-direction: column;
  margin-top: 76px;
  padding-left: 0;
  font-size: $font-lg;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  list-style: none;
  & li {
    width: 100%;
    margin-bottom: 20px;
    background-color: $color-tertiary;
    @media #{$media-md} {
      width: auto;
      margin-bottom: 0;
      background-color: transparent;
      &:last-of-type a {
        margin-right: 0;
      }
    }
  }
  &--show {
    display: flex;
  }
  &--no-js {
    display: flex;
  }
  @media #{$media-md} {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    order: 2;
    margin-top: 0;
  }
}

.menu__item {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin-left: 0;
  padding-top: 18px;
  padding-right: 185px;
  padding-bottom: 18px;
  padding-left: $gapSm;
  color: $color-secondary;
  text-decoration: none;
  background-color: $color-tertiary;
  transition: 0.1s;
  &::after {
    position: absolute;
    top: 41%;
    right: 25px;
    display: inline-block;
    padding: 3px;
    border: solid $color-menu-arrow;
    border-width: 0 3px 3px 0;
    transform: rotate(-45deg);
    content: "";
  }
  &:hover {
    color: $color-primary;
  }
  @media #{$media-md} {
    margin-right: 49px;
    padding: 10px 0;
    background-color: transparent;
    &::after {
      display: none;
    }
  }
}
