extends ../common/layout.pug

block vars
  -var mainPage = true
  -var currentPageTitle = site.index.title
  -var currentPageHref = site.index.href

block mainContent
  include ../blocks/recently.pug
  .main-content
    aside.main-content__left-aside
      include ../blocks/news.pug
      include ../blocks/reviews.pug
      include ../blocks/video-banner.pug
      include ../blocks/videos.pug
    aside.main-content__right-aside
      include ../blocks/videos-aside.pug
