@mixin container {
  display: flex;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gapSm;
  padding-left: $gapSm;
  @media #{$media-md} {
    max-width: $width-xl;
    padding-right: $gap;
    padding-left: $gap;
  }
}

@mixin title-block {
  font-weight: $font-weight-semibold;
  font-size: $font-lg2;
  text-transform: uppercase;
  letter-spacing: 2px;
}
